/* ==UserStyle==
@name         Manjaro Forums Dark Theme (Discourse)
@description  A dark theme for the official Manjaro Linux Forums.
@namespace    forum.manjaro.org
@author       maxigaz
@version      1.0.0
==/UserStyle== */

@-moz-document domain("forum.manjaro.org") {
	html, body, #reply-control, .modal-body, .modal-footer {
		background: rgb(55,55,55) !important;
		color: rgb(250, 250, 250) !important;
	}

	/* ===== Thread browsing (with replies) ===== */

	#topic-title h1 a {
		color: rgb(250, 250, 250) !important;
	}

	.topic-meta-data span.username a {
		color: rgb(250, 250, 250);
	}

	.topic-body, #list-area, .topic-list {
		background-color: rgb(41, 41, 41) !important;
	} 

	.topic-body, #list-area, .topic-list, .topic-avatar, #topic-closing-info {
		border-top: 1px solid rgb(84, 84, 84);
	}

	.topic-body .cooked {
		color: rgb(240, 240, 240);
	}

	aside.quote .title, body code {
		color: rgb(242, 242, 242);
	}

	aside.quote .title, blockquote, body code {
		background-color: rgb(70, 70, 71) !important;
	}

	.hljs-deletion {
		background: #3E0000;
	}

	/* Post reply area */

	#reply-control .grippie {
		background-color: rgb(80, 80, 80) !important;
	}

	.reply-to a, a:link, a:hover, a:active, a:visited, .topic-list.categories a.title, a.reply-new:hover, a.reply-new:active, a.reply-new:visited {
		color: rgb(50, 192, 92);
	}

	.topic-list a.title.visited:not(.badge-notification) {
		color: rgb(180, 180, 180);
	}

	.d-editor {
		border-color: rgb(20, 20, 20) !important;
	}

	.d-editor-preview {
		border: 1px dashed rgb(20, 20, 20) !important;
	}

	#reply-control .wmd-controls .d-editor-input, #reply-control .wmd-controls .d-editor-preview {
		background-color: rgb(40, 40, 41) !important;
	}

	#reply-control .d-editor-button-bar {
		background-color: rgb(40, 40, 41) !important;
		border-bottom: 2px solid rgb(55, 55, 55);
	}

	#reply-control .d-editor-button-bar button {
		color: rgb(240, 240, 240);
	}

	textarea.ember-view.ember-text-area.d-editor-input, #reply-control .wmd-controls .d-editor-preview {
		color: rgb(240, 240, 240) !important;
	}

	/* Autocompletion (e.g. for emoji) */

	.autocomplete {
		background-color: rgb(40, 40, 40);
		border: 1px solid rgb(80, 80, 80);
	}

	.autocomplete ul li {
		border-bottom: 1px solid rgb(55, 55, 55);
	}

	.autocomplete ul li a.selected[href] {
		background-color: rgb(57, 100, 77);
	}

	.discourse-no-touch .autocomplete ul li a[href]:hover {
		background-color: rgb(70, 70, 70);
		text-decoration: none;
	}

	/* Emoji selector */

	.emoji-modal {
		background-color: rgb(52, 52, 52) !important;
	}

	table.emoji-page td  {
		background-color: rgb(40, 40, 40) !important;
	}

	/* Name of mentioned users in posts */

	a.mention, a.mention-group {
		background-color: rgb(30, 30, 30);
	}

	/* Code snippets */

	.hljs, .hljs-keyword {
		color: rgb(230, 230, 230);
	}

	/* Tag labels */

	.discourse-tag.box {
		background-color: rgb(48, 48, 48);
		color: rgb(231, 231, 231) !important;
		border: 1px solid rgb(80, 80, 80);
	}

	/* Buttons */

	.btn {
		background-color: rgb(45, 45, 45);
		color: rgb(240, 240, 240);
	}

	.btn:hover {
		background-color: rgb(75, 75, 75);
		color: rgb(240, 240, 240);
	}

	/* "Stats ribbon" (under the very first post of each thread) */

	.topic-map {
		border-color: rgb(55, 55, 55);
	}

	.topic-map ul, section.avatars, section.links {
		background-color: rgb(70, 70, 70);
	}

	.topic-map .buttons .btn {
		background-color: rgb(70, 70, 70);
		border-color: rgb(70, 70, 70) -moz-use-text-color -moz-use-text-color rgb(70, 70, 70);
	}

	.topic-map .buttons .btn:hover {
		color: rgb(184, 184, 184);
		background-color: rgb(61, 61, 61);
	}

	.topic-map section {
		border-top: 1px solid rgb(55, 55, 55);
	}

	.topic-map .map .number, .topic-map .map i {
		color: rgb(240, 240, 240);
	}

	.topic-map h3 {
		color: rgb(240, 240, 240);
	}

	.badge-notification.clicks {
		background-color: rgb(35, 35, 35);
		color: rgb(230, 230, 230);
	}

	/* Wiki editing */

	.select2-drop, .select2-container a.select2-choice, .select2-container-multi .select2-choices {
		background-color: rgb(76, 76, 76);
	}

	/* GitHub issue */

	aside.onebox {
		border: 5px solid rgb(70, 70, 70);
	}

	aside.onebox header a[href],
	aside.onebox .onebox-body a[href] {
		color: rgb(50, 192, 92);
	}

	aside.onebox .labels span {
		background-color: rgb(35, 35, 35) !important;
	}

	/* Poll */

	div.poll {
		border-color: rgb(140, 140, 140);
	}

	div.poll .poll-info {
		border-left-color: rgb(140, 140, 140);
	}

	div.poll .poll-buttons {
		border-top-color: rgb(140, 140, 140);
	}

	div.poll li[data-poll-option-id] {
		color: rgb(230, 230, 230);
	}

	div.poll .results .bar-back {
		background-color:	rgb(180, 180, 180);
	}

	/* Topic progress (appears when the window width is smaller) */

	#topic-progress {
		background-color: rgb(35, 35, 35);
		color: rgb(230, 230, 230);
		border-color: rgb(3, 95, 29) rgb(3, 95, 29) -moz-use-text-color;
	}

	#topic-progress .bg {
		border-right-color: rgb(3, 95, 29);
		background-color: rgb(3, 95, 29);
	}

	#topic-progress-expanded {
		border-color: rgb(35, 35, 35);
		background-color: rgb(35, 35, 35);
	}

	/* ===== Main page, navigation between threads ===== */

	.category-name {
		color: rgb(228, 117, 9);
	}

	.category-text-title .category-name {
		color: rgb(250, 250, 250);
	}

	.category-description, th.category, th.latest, th.stats.topics, .topic-list td.value, .topic-list.categories td.stats .unit {
		color: rgb(240, 240, 240) !important;
	}

	/* Number of new posts */

	.badge-notification.new-posts, .badge-notification.unread-posts {
		background-color: rgb(50, 192, 92);
		color: rgb(0, 0, 0);
	}

	/* Categories drop-down menu */

	.select-kit.combo-box .select-kit-filter {
		border-color: #3a3a3a;
	}

	.list-controls .combo-box .combo-box-header {
		color: #e8e8e8;
	}

	/* Categories drop-down menu in mobile view */

	.list-controls .nav-pills .drop {
		background-color: rgb(45, 45, 45);
		border: 1px solid rgb(80, 80, 80);
	}

	.topic-list th, .topic-list td {
		color: rgb(240, 240, 240) !important;
	}

	/* Links with thread titles in mobile view */

	.topic-list a.title  {
		color: rgb(50, 192, 92) !important;
	}

	/* Stat numbers in mobile view */

	.category-list-item > footer figure {
		color: rgb(136, 136, 136) !important;
	}

	/* Thread excerpts in mobile view */

	.topic-list .topic-excerpt {
		color: rgb(210, 210, 210);
	}

	/* Table row borders in mobile view */

	tr.category-topic-link {
		border-top: 1px solid rgb(60, 60, 60);
		border-bottom: 1px solid rgb(60, 60, 60);
	}

	/* ===== List of threads inside categories ===== */

	.topic-list .main-link a.title {
		color: rgb(250, 250, 250);
	}

	/* Buttons above table */

	.list-controls .category-breadcrumb li.bullet > .badge-category {
		background-color: rgb(45, 45, 45) !important;
		color: rgb(240, 240, 240) !important;
	}

	.nav-pills > li > a {
		color: rgb(240, 240, 240) !important;
		background-color: rgb(3, 95, 29); /* For mobile view */
	}

	.nav-pills > li > a:hover {
		color: rgb(240, 240, 240);
		background-color: rgb(4, 129, 39);
	}

	.nav-pills > li.active > a, .nav-pills > li > a.active {
		color: rgb(240, 240, 240);
		background-color: rgb(3, 95, 29);
	}

	/* Disabled button (e.g. when you're not allowed to create new topics in a category) */

	.btn[disabled], .btn.disabled {
		background-color: rgb(114, 114, 114);
	}

	.btn[disabled]:hover, .btn.disabled:hover {
		background-color: rgb(84, 84, 84);
	}

	/* Category and tutorial list drop down */

	.list-controls .category-dropdown-menu {
		background-color: #2B2C2B !important;
		border: 1px solid rgb(80, 80, 80);
	}

	.list-controls .category-dropdown-menu .home {
		color: rgb(250, 250, 250);
	}

	/* First table row */

	.topic-list th {
		color: rgb(240, 240, 240);
	}

	.topic-list .sortable:hover {
		background-color: rgb(55, 55, 55);
	}

	/* Borders */

	.topic-list > tbody > tr:first-of-type {
		border-top: 3px solid rgb(84, 84, 84);
	}

	.topic-list > tbody > tr {
		border-bottom: 1px solid rgb(84, 84, 84);
	}

	/* Number of views and activity */

	td {
		color: rgb(136, 136, 136) !important;
	}

	/* Number of replies */

	.topic-list .num a.badge-posts {
		color: rgb(176, 176, 176) !important;
	}

	/* User profile pop-up */

	#user-card {
		color: rgb(230, 230, 230);
	}

	#user-card h1 a, #user-card h1 i {
		color: rgb(240, 240, 240);
	}

	#user-card .card-content {
		background: none repeat scroll 0% 0% rgba(54, 54, 54, 0.85);
	}

	#user-card .metadata h3 .desc, #user-card .metadata h3 a {
		color: rgb(144, 144, 144);
	}

	#user-card .usercard-controls a,
	#user-card .location-and-website .website-name a {
		color: rgb(230, 230, 230);
	}

	#user-card .usercard-controls a.btn.btn-primary {
		background-color: rgb(3, 95, 29);
	}

	#user-card .usercard-controls a.btn.btn-primary:hover {
		background-color: rgb(4, 129, 39);
	}

	/* ===== Modal	 ===== */

	.bootbox.modal {
		border: 1px solid rgb(80, 80, 80);
	}

	.modal-footer {
		border-top: 1px solid rgb(80, 80, 80);
	}

	/* ===== Navigation bar ===== */

	.menu-panel.drop-down, .menu-panel { /* Both desktop and mobile view */ 
		background-color: #2B2C2B !important;
		border: 1px solid rgb(80, 80, 80);
	}

	.menu-panel.drop-down a:hover {
		background-color: #075b1f;
		/* color: rgb(50, 192, 92); */
	}

	a.widget-link.user-activity-link, a.widget-link.logout {
		color: rgb(250, 250, 250);
	}

	.menu-panel.drop-down i.fa, div.menu-links-header .fa, div.menu-links-header a, .user-menu .notifications .fa {
		color: rgb(255, 255, 255) !important;
	}

	.user-menu .notifications li span {
		color: rgb(250, 250, 250);
	}

	.menu-panel ul.menu-links li a:hover, .menu-panel ul li.heading a:hover {
		background-color: #075b1f;
	}

	.menu-panel ul.menu-links li a, .menu-panel ul li.heading a {
		transition: background 0.15s ease 0s;
		color: rgb(250, 250, 250);
	}

	/* Account/avatar drop-down menu */

	.user-menu .notifications li {
		background-color: #39644d !important;
	}

	.user-menu .notifications li:hover, .user-menu .notifications li.read:hover {
		/* background-color: #0f6b29 !important; */
		background-color: #075b1f !important;
	}

	.user-menu .notifications li.read {
		/* background-color: rgb(100, 100, 101) !important; */
		background-color: #2B2C2B !important;
	}

	hr {
		border-color: #606060;
	}

	.menu-panel li.category-link .badge-notification {
		color: rgb(230, 230, 230);
	}

	input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
		background-color: #212121;
		color: rgb(240, 240, 240);
		border: 1px solid #1c1c1c;
	}

	body input[type="text"], body input[type="password"], body input[type="datetime"], body input[type="datetime-local"], body input[type="date"], body input[type="month"], body input[type="time"], body input[type="week"], body input[type="number"], body input[type="email"], body input[type="url"], body input[type="search"], body input[type="tel"], body input[type="color"] {
		background-color: #212121;
	}

	.user-menu .notifications .show-all .btn {
		background-color: #2d2e2d;
	}

	.user-menu .notifications .show-all .btn:hover {
		background-color: #323332;
	}

	.menu-panel li a:hover, .menu-panel li a:focus, .menu-panel li.heading a:hover, .menu-panel li.heading a:focus {
		background-color: #075b1f;
	}

	/* Account/avatar drop-down menu in mobile mode */

	div.menu-links-header a:hover {
		background-color: rgb(7, 91, 31);
	}

	/* ===== Account preferences ===== */

	.user-main .user-content {
		background: rgb(55,55,55) !important;
	}

	.user-main .user-stream .item {
		background-color: rgb(41, 41, 41) !important;
		border-bottom: 1px solid rgb(84, 84, 84);
	}

	.user-main .user-stream .excerpt {
		color: rgb(240, 240, 240);
	}

	.stats-section li {
		background-color: rgb(67, 67, 67) !important;
	}

	.top-sub-section li {
		background-color: rgb(80, 80, 80) !important;
		box-shadow: 0px 1px 1px rgb(35, 35, 35);
		border-left: 2px solid rgb(35, 35, 35);
	}

	.top-sub-section .topic-info {
		color: rgb(240, 240, 240);
	}

	.user-info .user-detail .username a {
		color: rgb(240, 240, 240);
	}

	.user-info .user-detail .name {
		color: rgb(225, 225, 225);
	}

	.select-kit .select-kit-body {
		background-color: #2d2d2d;
	}

	.select-kit.combo-box .select-kit-body {
		box-shadow: 0 2px 3px 0 rgba(33, 31, 33);
	}

	.select-kit .select-kit-collection {
		background-color: #2d2d2d;
	}

	.select-kit .select-kit-row.is-highlighted {
		background-color: #353535;
	}

	.select-kit .select-kit-row.is-selected {
		background-color: rgb(3, 95, 29);
	}

	.select-kit .select-kit-row.is-selected.is-highlighted {
		background-color: #353535;
	}

	.select-kit.combo-box .select-kit-header {
		background-color: #2d2d2d;
		border-color: #211f21;
	}

	/* Notifications: user name */

	.user-main .user-stream .notification p span {
		color: rgb(240, 240, 240);
	}

	/* Nav buttons on top */

	.user-main .nav-pills a i,
	.user-main .nav-pills a:hover i {
		color: rgb(240, 240, 240);
	}

	/* Links on the left (in Activities, Notifications, and Messages) */

	.user-main .nav-stacked > li > a {
		color: #878787 !important;
	}

	.user-main .nav-stacked > li > a.active {
		color: rgb(240,240,240) !important;
	}

	/* Account info (collapsed) */

	.user-main .about.collapsed-info .details {
		background: none repeat scroll 0% 0% rgba(56, 56, 56, 0.85);
		border-bottom: 1px solid rgb(45, 45, 45);
	}

	.user-main .about.collapsed-info .controls ul a.btn {
		color: rgb(230, 230, 230);
	}

	.user-main .about.collapsed-info .controls ul a.btn.btn-primary {
		background-color: rgb(3, 95, 29);
	}

	.user-main .about.collapsed-info .controls ul a.btn.btn-primary:hover {
		background-color: rgb(4, 129, 39);
	}

	/* Account info (after clicking on Expand) */

	.user-main .about .secondary {
		border-bottom: 1px solid rgb(84, 84, 84);
		border-top: 1px solid rgb(84, 84, 84);
	}

	.user-main .about .secondary dl {
		background-color: rgb(41, 41, 41);
	}

	.user-main .about .secondary dl dd,
	span.relative-date {
		color: rgb(225, 225, 225);
	}

	.user-main .about .details {
		background: none repeat scroll 0% 0% rgba(56, 56, 56, 0.85);
	}

	.groups .group-link {
		color: rgb(50, 192, 92);
	}

	.user-main .about .controls a.btn.btn-primary {
		background-color: rgb(3, 95, 29);
	}

	.user-main .about .controls a.btn.btn-primary:hover {
		background-color: rgb(4, 129, 39);
	}

	/* Badges */

	.badge-card .badge-contents {
		background-color: rgb(41, 41, 41);
	}

	.badge-card .badge-contents .badge-info h3 {
		color: rgb(242, 242, 242);
	}

	.badge-card .badge-contents .badge-info {
		color: rgb(230, 230, 230);
	}

	.badge-card .badge-contents .badge-icon {
		background-color: rgb(45, 45, 45);
	}

	.user-main .user-content {
		border: none;
	}

	/* ===== Account preferences: mobile ===== */

	/* Navigation drop down menus */

	.mobile-view .mobile-nav a {
		color: rgb(240, 240, 240);
		background-color: rgb(45, 45, 45) !important;
	}

	.mobile-view .mobile-nav .drop.expanded {
		background-color: rgb(45, 45, 45) !important;
		border-color: rgb(74, 74, 74);
	}
}
